services:
  db:
    image: mysql:8.3
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      MYSQL_DATABASE:      "${DB_DATABASE}"
      MYSQL_USER:          "${DB_USERNAME}"
      MYSQL_PASSWORD:      "${DB_PASSWORD}"
    volumes:
      - db_data:/var/lib/mysql
    networks: [jupiter-net]

  web:
    image: dev.kimidev.com/kimicom/jupitermeetpro-docker/web:1.8.6-prod
    ports: ["3000:80"]
    volumes:
      - ./jupitermeet_pro/.env.prod:/var/www/html/.env:ro
      - jupitermeet_storage:/var/www/html/storage     # volume keeps perms
    depends_on: [db]
    networks: [jupiter-net]

  node:
    image: dev.kimidev.com/kimicom/jupitermeetpro-docker/node:1.8.6-prod
    ports: ["9000:9000"]
    volumes:
      - ./jupitermeet_pro/server/.env.prod:/app/.env:ro
    depends_on: [db]
    networks: [jupiter-net]

networks:
  jupiter-net:
    driver: bridge

volumes:
  db_data:
  jupitermeet_storage:
